Repository Ralim/IronOS, pull requests merged in 2024-12, with the labels that each got.

#2009 scripts/deploy.sh: add test for links to stable builds in README
  scripts/deploy.sh
Labels: Build System, Documentation

#2019 improve zh_cn translation
  Translations/translation_ZH_CN.json
Labels: Bug, Awaiting Response, Translations

#2024 README.md: reformat description section for build types to make it more consistent
  README.md
Labels: Documentation

#2026 Update RU translation
  Translations/translation_RU.json
Labels: Translations

#2030 Updated translation_DE.json (again)
  Translations/translation_DE.json
Labels: Translations

#2031 Add macro to enable tip types for supported hardware only
  source/Core/BSP/Miniware/configuration.h
  source/Core/BSP/Pinecilv2/configuration.h
  source/Core/Inc/Settings.h
  source/Core/Src/Settings.cpp
  source/Core/Src/settingsGUI.cpp
Labels: Bug

#2035 Update PL translation (v2.23 rc1)
  Translations/translation_PL.json
Labels: Translations
